form#add-edit-cocktail.form-horizontal(method="POST")

  // Name
  .form-group
    label.col-sm-2.control-label(for="cocktailName") Name
    .col-sm-10
      if isEdit
        input#cocktailName.form-control(name="cocktailName" type="text" value=cocktail.name required)
      else
        input#cocktailName.form-control(name="cocktailName" type="text" required)

  // Description
  .form-group
    label.col-sm-2.control-label(for="cocktailDesc") Description
    .col-sm-10
      if isEdit && cocktail.description.length
        textarea#cocktailDesc.form-control(name="cocktailDesc" rows="3")= cocktail.description
      else
        textarea#cocktailDesc.form-control(name="cocktailDesc" rows="3")

  // Ingredients
  .form-group.ingredient-labels
    label.col-sm-2.control-label Ingredients
    .col-sm-1
    .col-sm-2
      label
        small Amount
    .col-sm-2
      label
        small Unit
    .col-sm-5
      label
        small Ingredient

  if ! isEdit
    +ingredientFields('', '', '')
  else
    if cocktail.ingredients && cocktail.ingredients.length
      for ingredient in cocktail.ingredients
        +ingredientFields(ingredient.amount, ingredient.unit, ingredient.name)

  .form-group#add-ingredient-control
    .col-sm-12
      p.text-right
        button#add-ingredient.btn.btn-default(type="button") Add Ingredient

  ol#step-list
    // Steps
    if ! isEdit || !cocktail.steps || !cocktail.steps.length
      .form-group.cocktail-step
        label.col-sm-2.control-label
        .col-sm-1
        li.col-sm-9
          textarea.form-control(name="cocktailStep[]" rows="2")
    else
      if cocktail.steps && cocktail.steps.length
        for step in cocktail.steps
          .form-group.cocktail-step
            label.col-sm-2.control-label
            .col-sm-1
            li.col-sm-9
              textarea.form-control(name="cocktailStep[]" rows="2")= step

  .form-group#add-step-control
    .col-sm-12
      p.text-right
        button#add-step.btn.btn-default(type="button") Add Step

  // Tags
  .form-group
    label.col-sm-2.control-label(for="cocktailTags") Tags
    .col-sm-10
      if isEdit && cocktail.tagNames.length
        textarea#cocktailTags.form-control(name="cocktailTags" rows="3")= cocktail.tagNames.join(', ')
      else
        textarea#cocktailTags.form-control(name="cocktailTags" rows="3")

  hr

  // Save and cancel
  .form-group
    .col-sm-12

      p
        if isEdit
          a.btn.btn-default(href="/#view-all") Cancel
          span &nbsp;&nbsp;

          if cocktail.tags
            input(type="hidden" name="cocktailTagsOld" value="#{ cocktail.tagNames.join(',') }")
        input.btn.btn-primary(type="submit", value="Save Cocktail")