extends index

block content

  ul(class="nav nav-pills", id="view-nav")
    li
      a(href="#view-all") View
    li
      a(href="#add") Add
    // li
      // a(href="#login") Login
  .tab-content
    div(class="tab-pane", id="view-all")
      .page-header
        h2 View all
      if cocktails
        table(class="table table-striped")
          thead
            tr
              th Name
              th Description
              th Ingredients
              th Steps
              th Controls
          tbody
            for cocktail in cocktails
              tr(id="#{ cocktail._id }")
                td
                  a(href="/view/#{ cocktail._id }")
                    strong= cocktail.name.replace(" ", "\u00a0")

                td
                  small
                    em= cocktail.description
                td= cocktail.ingredients.length
                td= cocktail.steps.length
                td
                  a(href="/edit/#{ cocktail._id }")
                    span.glyphicon.glyphicon-pencil
                  a(href="/remove/#{ cocktail._id }")
                    span.glyphicon.glyphicon-remove

      else
        p
          em No cocktails to show ...
    div(class="tab-pane", id="add")
      .page-header
        h2 Add one
      form(class="form-horizontal", method="POST")
        .form-group
          label(for="cocktailName",  class="col-sm-2 control-label") Name
          .col-sm-10
            input(id="cocktailName", name="cocktailName", type="text", class="form-control")
        .form-group
          label(for="cocktailDesc",  class="col-sm-2 control-label") Description
          .col-sm-10
            textarea(id="cocktailDesc", name="cocktailDesc", class="form-control", rows="3")
        .form-group.ingredient-labels
          label(class="col-sm-2 control-label") Ingredients
          .col-sm-2
            label
              small Amount
          .col-sm-2
            label
              small Unit
          .col-sm-6
            label
              small Ingredient
        .form-group#add-ingredient-control
          .col-sm-12
            p(class="text-right")
              button(type="button", class="btn btn-default" id="add-ingredient") Add Ingredient
        .form-group#add-step-control
          .col-sm-12
            p(class="text-right")
              button(type="button", class="btn btn-default" id="add-step") Add Step
        .form-group
          label(for="cocktailTags",  class="col-sm-2 control-label") Tags
          .col-sm-10
            textarea(id="cocktailTags", name="cocktailTags", class="form-control", rows="3")
        hr
        .form-group
          .col-sm-12
            p
              input(type="submit", class="btn btn-primary" id="add-step", value="Save Cocktail")
    div(class="tab-pane", id="login")
      .page-header
        h2 Like a boss
      form.form-horizontal(method="POST", action="/login")
        .form-group
          label.col-sm-2.control-label(for="loginEmail") Email
          .col-sm-4
            input#loginEmail.form-control(name="loginEmail", type="email")
        .form-group
          label.col-sm-2.control-label(for="loginPassword") Password
          .col-sm-4
            input#loginPassword.form-control(name="loginPassword", type="password")
        hr
        .form-group
          .col-sm-12
            p
              input.btn.btn-primary(type="submit", value="Login")