extends index

block content

  ul#view-nav.nav.nav-pills
    li
      a(href="#view-all") View
    if isAdmin
      li
        a(href="#add") Add
    else
      li
        a(href="#login") Login
  .tab-content
    div#view-all.tab-pane
      .page-header
        h2 View all
      if tags.length
        .tag-listing
          p
            strong Tags:
            for tag in tags
              span.tag-name(data-tag-id="#{ tag._id }" data-tag-slug="#{ tag.slug }")= tag.name
      if cocktails.length
        table#cocktail-table.table.table-striped
          thead
            tr
              th Name
              th Description
              th Ingredients
              th Steps
              th Controls
          tbody
            for cocktail in cocktails
              if !cocktail.tags
                - cocktail.tags = []
              tr(id="#{ cocktail._id }", data-tag-slugs="#{ cocktail.tags.join(' ') }")
                td
                  a(href="/view/#{ cocktail._id }")
                    strong= cocktail.name.replace(" ", "\u00a0")

                td
                  small
                    em= cocktail.description
                td= cocktail.ingredients.length
                td= cocktail.steps.length
                td
                  a(href="/edit/#{ cocktail._id }")
                    span.glyphicon.glyphicon-pencil
                  a(href="/remove/#{ cocktail._id }")
                    span.glyphicon.glyphicon-remove

      else
        p
          em No cocktails to show ...
    div(class="tab-pane", id="add")
      include partials/add-form
    div(class="tab-pane", id="login")
      .page-header
        h2 Like a boss
      form.form-horizontal(method="POST", action="/login")
        .form-group
          label.col-sm-2.control-label(for="loginEmail") Email
          .col-sm-4
            input#loginEmail.form-control(name="loginEmail", type="email")
        .form-group
          label.col-sm-2.control-label(for="loginPassword") Password
          .col-sm-4
            input#loginPassword.form-control(name="loginPassword", type="password")
        hr
        .form-group
          .col-sm-12
            p
              input.btn.btn-primary(type="submit", value="Login")