extends index

block content

  ul(class="nav nav-pills", id="view-nav")
    li
      a(href="/#view-all") &laquo; Home

  .page-header
    h2= cocktail.name

  div.form-horizontal
    .form-group
      label.col-sm-2.control-label Description
      .col-sm-10
        p= cocktail.description
    if cocktail.tags && cocktail.tags.length
      .form-group
        label.col-sm-2.control-label Tags
        .col-sm-10
          p
            for tag in cocktail.tags
              span.tag-name= tag
    .form-group.ingredient-labels
      label.col-sm-2.control-label Ingredients
      .col-sm-2
        label
          small Amount
      .col-sm-2
        label
          small Unit
      .col-sm-6
        label
          small Ingredient
    if cocktail.ingredients
      for ingredient in cocktail.ingredients
        .form-group.ingredient-labels
          .col-sm-2
            p &nbsp;
          .col-sm-2
            p= ingredient.amount
          .col-sm-2
            p= ingredient.unit
          .col-sm-6
            p= ingredient.name
    hr
    if cocktail.steps
      - var counter = 0
      .form-group
        label.col-sm-2.control-label Steps
        .col-sm-10
          ol.cocktail-steps
            for step in cocktail.steps
              li= step